@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background: #0F172B; 
  color: #fff;
}

* {
  box-sizing: border-box;
}

@theme {
  --color-active: #38bdf8;
  --color-card-background: #1e293b;
  --color-component-background: #0f172a;
  --color-slider-dot: #facc15;
  --color-keypad-button: #ef4444;
}